.App {
height: 100%;
width: 100%;
  color: var(--text) ;
}

.btn-one {
  background-color: var(--secondary);

}

.btn-two {
  background-color: var(--accent);
}

.link-no-decoration {
  text-decoration: none;
  color: white;
}
.pages-nav{
  background-color: var(--background) !important;
  background-color: transparent;

}